body{
    color: white;
    
    margin: 0%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-image: url('Bilder/fahrrad.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}